.header
  background #FFF
  border-bottom 1px solid #d6d5d4
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.15)
  .container
    display flex
    padding 25px 0
    align-items center
    justify-content space-between
  &__logo
    font-size 0
    @extend .hover
    cursor pointer
    display block
    &:before
      content ""
      display block
      sprite($logo)
    &--mobile
      display none
      +media(mobile)
        display block
  &__central
    display flex
    align-items center
    justify-content center
    width 43%
  &__menu-opener
    background linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,0,0,0.04) 100%)
    border solid 1px #e7e7e7
    border-radius 5px
    display flex
    flex-wrap wrap
    flex-direction column
    width 48px
    align-items center
    justify-content center
    padding 8px 10px
    cursor pointer
    @extend .hover
    margin-right 46px
    > i
      width 26px
      height 3px
      background #bbb
      display block
      &:nth-child(2)
        margin 4px 0
  &__search-bar-wrapper
    position relative
    flex 1
    display flex
    flex-wrap wrap
    &:after
      content icon-search
      font normal 18px $ic
      color #b2b1b1
      position absolute
      right 10px
      top 50%
      transform translateY(-50%)
      pointer-events none
  &__search-input
    height 32px
    padding 0 10px
    background #f7f6f6
    border solid 1px #e7e7e7
    border-radius 5px
    flex 1
  &__user-wrapper
    display flex
    align-items center
    justify-content center
  &__user-image-wrapper
    margin-right 13px
  &__user-image
    border-radius 100%
  &__user-name
    font-size 15px
  +media(mobile)
    padding 0 15px
    border-bottom none
    &__logo
      display none
      &--mobile
        display block
        flex 1
        &:before
          margin 0 auto
    &__menu-opener
      margin-right 0
    &__user-wrapper
      display none
    &__central
      width 100%
    &__search-bar-wrapper
      width 48px
      flex inherit
      display flex
      align-items center
      justify-content center
      background linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,0,0,0.04) 100%)
      border solid 1px #e7e7e7
      border-radius 5px
      padding 8px 0
      &:after
        position static
        transform none
    &__search-input
      display none


