.post
  background #FFF
  border-radius 5px
  position relative
  overflow hidden
  box-shadow 0 1px 4px 1px rgba(0, 0, 0, 0.12)
  margin-bottom 23px
  max-width 240px
  &__wrapper
    color #acaaaa
  &__image-wrapper
    text-align center
    position relative
    overflow hidden
  &__image
    transition all 400ms ease
  &__info-wrapper
    padding 17px
  &__title
    color #717171
    font-size 18px
    margin-bottom 14px
  &__category
    font-size 14px
    margin-bottom 20px
    display inline-block
    &:before
      content icon-map-marker
      font normal 12px $ic
      margin-right 8px
  &__excerpt
    font-size 13px
  &__rating-social-wrapper
    border-top 1px solid #e9e9e9
    padding 15px
    display flex
    align-items center
    justify-content space-between
  &__rating-wrapper
    display flex
    align-items center
  &__star
    &:before
      content icon-star-full
      font normal 17px $ic
    &--full
      color #b9cb41
    &--empty
      color #ddd
  &__share
    font-size 0
    display block
    &:after
      content ""
      sprite($facebook)
      display block
  &:hover
    .post
      &__image
        transform scale(1.1)
  +media(mobile)
    max-width 462px
