/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$facebook_name = 'facebook';
$facebook_x = 0px;
$facebook_y = 54px;
$facebook_offset_x = 0px;
$facebook_offset_y = -54px;
$facebook_width = 21px;
$facebook_height = 21px;
$facebook_total_width = 154px;
$facebook_total_height = 75px;
$facebook_image = 'assets/img/sprite.png';
$facebook = 0px 54px 0px -54px 21px 21px 154px 75px 'assets/img/sprite.png' 'facebook';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 154px;
$logo_height = 52px;
$logo_total_width = 154px;
$logo_total_height = 75px;
$logo_image = 'assets/img/sprite.png';
$logo = 0px 0px 0px 0px 154px 52px 154px 75px 'assets/img/sprite.png' 'logo';
$spritesheet_width = 154px;
$spritesheet_height = 75px;
$spritesheet_image = 'assets/img/sprite.png';
$spritesheet_sprites = $facebook $logo;
$spritesheet = 154px 75px 'assets/img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
