// ==========================================================================
// utils vars and functions
// ==========================================================================

font_mixin(font, size, color)
  font-family font
  font-size size
  color color

sprite_extras()
  overflow hidden
  text-indent -9999em

hide()
  visibility hidden
  opacity 0

show()
  visibility visible
  opacity 1

clearfix()
  &:after
    display block
    content ''
    clear both

size(value)
  width value
  height value

//Fonts
// $rl = 'Open Sans', sans-serif

//Colors

//Media queries
media(var)
  condition = 'screen and (max-width: %s)' % var
  @media condition
    {block}

tablet = 992px
mobile = 767px
