@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.ttf?b8lacn') format('truetype'), url(icomoon-font-path + '/icomoon.woff?b8lacn') format('woff'), url(icomoon-font-path + '/icomoon.svg?b8lacn#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-spinner2
  &:before
    content icon-spinner2
.icon-search
  &:before
    content icon-search
.icon-map-marker
  &:before
    content icon-map-marker
.icon-spinner
  &:before
    content icon-spinner
.icon-star-empty
  &:before
    content icon-star-empty
.icon-star-full
  &:before
    content icon-star-full

