html, body
  width 100%
  height auto

body
  height auto !important
  font-family $os
  font-size 18px
  color #acaaaa
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
img
  max-width 100%
  height auto
.hidden-desktop
  +media(tablet)
    display none !important
/**
 *
 * Grid
 *
 */
.container
  padding 0 15px
  max-width 1054px
  margin 0 auto
  width 100%

/**
 *
 * Common
 *
 */
 .main
   background #f0efee
   padding 48px 0
   +media(mobile)
    background #FFF
    padding 20px 0
 .hover
   transition opacity 400ms ease
   &:hover
     opacity .7
.social-list
  display flex
  &__item
    margin-right 10px
    &:last-child
      margin-right 0
  &__link
    size(48px)
    border solid 1px #3d3a51
    display flex
    align-items center
    justify-content center
    &:before
      color #FFF
      font normal 21px $ic
      display block
    &--facebook
      &:before
        content icon-facebook
    &--twitter
      &:before
        content icon-twitter
